@using ShoppingCart.Business.Utilities
@using ShoppingCart.DataAccess.Model;
@model List<SidebarItem>
@{
    var sidebarItem = Model.Where(x => x.IsActive).OrderBy(x => x.DisplayPriority);
    var userLogged = SessionUtilities.CurrentUser(ViewContext.HttpContext.Session);
}
<div class="sidebar-section width-20">
<nav>
    <ul>
        <li>
            <i id="sidebar" class="fa-solid fa-angle-left"></i>
        </li>
        <li>
            @if (userLogged == null)
            {
                <a class="logo">

                    <img  src="/img/user.jpg"/>
                </a>
            }else
            {
                <a class="logo" href="@Url.Action("Profile","Home", new{UserID = userLogged.UserId})">

                    <img  src="@userLogged.Photo"/>
                </a>
            }
        </li>
        @foreach(var item in sidebarItem)
        {
            <li>
                <a asp-controller="@item.Controller" asp-action = "@item.Action" class="btn-nav-item">
                <i class = "@item.Class"></i>
                <span class="nav-item">@item.Name</span>
                </a>
            </li>
        }
        <li>
            <a asp-controller="Home" asp-action="Logout">
                <i class="fa-solid fa-arrow-right-from-bracket"></i>
                <span class="nav-item">Logout</span>
            </a>
        </li>
    </ul>
</nav>
</div>