@using ShoppingCart.DataAccess.Model;

@model IPagedList<Category>
@using X.PagedList;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common

@{
    var searchValue = ViewBag.searchValue;
}

<table class="table table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>DisplayOrder</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@item.Name</td>
            <td>@item.Description</td>
            <td>@item.DisplayOrder</td>
            <td>
                <a asp-area="Admin" asp-controller="Category" asp-action="CreateOrUpdate" asp-route-id="@item.Id">Edit</a>
                <a onclick = "SiteJS.Delete(@item.Id)">Delete</a>
                
            </td>
        </tr>
}
    </tbody>
</table>

@if(Model.PageCount > 1 ){
    var ajaxOptions = new AjaxOptions
    {
        HttpMethod = "GET",
        UpdateTargetId = "page-data"
    };

    var pagedListRenderOptions = PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(ajaxOptions);
    pagedListRenderOptions.LiElementClasses = new string[] { "page-item" };
    pagedListRenderOptions.PageClasses = new string[] { "page-link" };
    @Html.PagedListPager(Model, page => Url.Action("_List", new { page = page  }), pagedListRenderOptions)
}



