@using ShoppingCart.DataAccess.Model
@using ShoppingCart.DataAccess.ViewModels
@using ShoppingCart.DataAccess.Repositories
@inject IUnitOfWork _unitOfWork;
@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutFE";
    CategoryVM categoryVM = new CategoryVM();
    ProductVM productVM = new ProductVM();
    productVM.Products = _unitOfWork.ProductRepository.GetAll();
    categoryVM.categories = _unitOfWork.CategoryRepository.GetAll();
}
<div id="product-QuickView">
</div>
<section class="mt-8">
    <div class="container">
        <div class="banner-slider">
            <div class="banner-slider-item">
                <img src="~/img/slide-1.jpg"/>
            </div>
            <div class="banner-slider-item">
                <img src="~/img/slider-2.jpg" />
            </div>
        </div>
    </div>
</section>
<section class="mb-lg-10 mt-lg-14 my-8">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-6">
                <h3 class="mb-0">Featured Categories</h3>
            </div>
        </div>
        <div class="category-slider">
            <div class="category-slider-item">
                <img src="~/img/category-atta-rice-dal.jpg" />
            </div>
            <div class="category-slider-item">
                <img src="~/img/category-baby-care.jpg" />
            </div>
            <div class="category-slider-item">
                <img src="~/img/category-bakery-biscuits.jpg" />
            </div>
            <div class="category-slider-item">
                <img src="~/img/category-chicken-meat-fish.jpg" />
            </div>
            <div class="category-slider-item">
                <img src="~/img/category-cleaning-essentials.jpg" />
            </div>
            <div class="category-slider-item">
                <img src="~/img/category-dairy-bread-eggs.jpg" />
            </div>
            <div class="category-slider-item">
                <img src="~/img/category-instant-food.jpg" />
            </div>
            <div class="category-slider-item">
                <img src="~/img/category-pet-care.jpg" />
            </div>
            <div class="category-slider-item">
                <img src="~/img/category-snack-munchies.jpg" />
            </div>
            <div class="category-slider-item">
                <img src="~/img/category-tea-coffee-drinks.jpg" />
            </div>
        </div>
    </div>
</section>
<section class="my-lg-14 my-8">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-6">
                <h3 class="mb-0">Popular Products</h3>
            </div>
            <div class="row g-4 row-cols-lg-5 row-cols-2 row-cols-md-3">
                @foreach(var item in productVM.Products){
                    var categoryName = _unitOfWork.CategoryRepository.GetT(x => x.Id == item.CategoryId).Name;
                    var thumbnail = _unitOfWork.UploadFileRepository.GetThumbnailFromUploadFile(item.MediaId, ViewBag.Host);
                    <div class="col">
                        <div class="card card-product">
                            <div class="card-body">
                                <div class="text-center position-relative">
                                    <a href="#">
                                        <img src="@thumbnail" class="mb-3 img-fluid">
                                    </a>
                                    <div class="card-product-action">
                                        <a class="btn-action" onclick="openQuickViewModal(@item.Id);">
                                            <i class="bi bi-eye" data-toggle="tooltip" data-placement="top" title="Quick View"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="text-center mb-1">
                                    <a href="#" class="text-decoration-none text-muted">
                                        <small>@categoryName</small>
                                    </a>
                                </div>
                                <h2 class="fs-6">
                                    <a class="text-inherit text-decoration-none">@item.Name</a>
                                </h2>
                                <div class="d-flex justify-content-between align-items-center mt-3">
                                    <div>
                                        <span class="text-dark">@String.Format("${0}",item.Price)</span>
                                    </div>
                                    <div>
                                        <a href="#" class="btn btn-primary btn-sm">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus">
                                                <line x1="12" y1="5" x2="12" y2="19"></line>
                                                <line x1="5" y1="12" x2="19" y2="12"></line>
                                            </svg>
                                            Add
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
<section class="my-lg-14 my-8">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3">
                <div class="mb-8 mb-xl-0">
                    <div class="mb-6">
                        <i class="fas fa-clock fa-2x"></i>
                        <h3 class="h5 mb-3">10 minute grocery now</h3>
                        <p>Get your order delivered to your doorstep at the earliest from FreshCart pickup stores near you.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="mb-8 mb-xl-0">
                    <div class="mb-6">
                        <i class="fa-solid fa-gift fa-2x"></i>
                        <h3 class="h5 mb-3">Best Prices & Offers</h3>
                        <p>Cheaper prices than your local supermarket, great cashback offers to top it off. Get best pricess & offers.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="mb-8 mb-xl-0">
                    <div class="mb-6">
                        <i class="fa-solid fa-truck-fast fa-2x"></i>
                        <h3 class="h5 mb-3">Wide Assortment</h3>
                        <p>Choose from 5000+ products across food, personal care, household, bakery, veg and non-veg & other categories.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="mb-8 mb-xl-0">
                    <div class="mb-6">
                        <i class="fa-solid fa-arrows-rotate fa-2x"></i>
                        <h3 class="h5 mb-3">Easy Returns</h3>
                        <p>Not satisfied with a product? Return it at the doorstep & get a refund within hours. No questions asked policy .</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
 @section Scripts{
    <script src="~/Script/FE/Shared.js"></script>
 }

